<h3>{{ message }}</h3>
<form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm">
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input
      matInput
      type="text"
      id="username"
      ngModel
      name="username"
      required=""
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput type="text" id="password" ngModel name="name" required="" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput type="text" id="email" ngModel name="email" required="" />
  </mat-form-field>
  <button
    mat-fab
    extended
    [disabled]="userForm.invalid"
    color="accent"
    type="submit"
    id="submitbtn"
  >
    <mat-icon>person_add</mat-icon>
    Add User
  </button>
</form>

<!-- @for (user of userList; track user.id) {
<h3>{{ user.id }}</h3>
} -->

<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="userList">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Username Column -->
    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef> Username </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.username }} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.email }} </mat-cell>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index">
        <button
          mat-flat-button
          (click)="openAddEditTodoForm(element.id, element.name)"
        >
          <mat-icon>list_alt</mat-icon>TODO LIST
        </button>
        <button
          mat-button
          color="primary"
          (click)="openEditUserForm(i, element)"
        >
          <mat-icon>manage_accounts</mat-icon>EDIT
        </button>
        <button mat-icon-button color="warn" (click)="onDelete(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>
