<div class="container">
  <div mat-dialog-title>
    <h1>User Form</h1>
  </div>
  <form (ngSubmit)="onSubmitEdit(userEditForm)" #userEditForm="ngForm">
    <div mat-dialog-content class="dialog-box">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input
          matInput
          ngModel="{{ dataUser.username }}"
          type="text"
          name="username"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput ngModel="{{ dataUser.name }}" name="name" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          ngModel="{{ dataUser.email }}"
          type="email"
          name="email"
        />
      </mat-form-field>
    </div>
    <div mat-dialog-actions class="dialog-action">
      <button mat-raised-button (click)="close()">Cancel</button>
      <button mat-raised-button color="primary" type="submit" (click)="close()">
        Save
      </button>
    </div>
  </form>
</div>
