.container {
    width: 500px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
        text-align: center;
    }
    .dialog-action {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 10px;
    }
}

#closebtn{
    width: 100px;
}