<mat-toolbar color="primary">
  <button
    mat-icon-button
    (click)="sidenav.toggle()"
    id="menuIcon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span id="menuTitle">Xopero Recruitment App</span>

  <!-- <a mat-button routerLink="/" class="top-menu-item"
    ><mat-icon>home</mat-icon>Home</a
  > -->
  <a mat-button routerLink="/users" class="top-menu-item"
    ><mat-icon>people</mat-icon>Users</a
  >
  <a mat-button routerLink="/albums" class="top-menu-item"
    ><mat-icon>photo_library</mat-icon>Albums</a
  >

  <span class="example-spacer"></span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav [fixedInViewport]="true" [fixedTopGap]="60" mode="side">
    <div class="side-menu-items">
      <!-- <a
        mat-button
        (click)="sidenav.close()"
        routerLink="/"
        class="side-menu-item"
        ><mat-icon>home</mat-icon>Home</a
      > -->
      <a
        mat-button
        (click)="sidenav.close()"
        routerLink="/users"
        class="side-menu-item"
        ><mat-icon>people</mat-icon>Users</a
      >
      <a
        mat-button
        (click)="sidenav.close()"
        routerLink="/albums"
        class="side-menu-item"
        ><mat-icon>photo_library</mat-icon>Albums</a
      >
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
