
.parent {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: calc(100vh - 60px);    
    flex-direction: column;
}

.content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    button {
        display: blocks;
        margin: 20px;
    }
}

.album-photo-card {
    display: block ;
    flex:1;
}







.side {
    flex: auto;
    flex-grow: 1;
    width: 400px;
}

.mat-mdc-subheader {
    display: flex;
    justify-content: center;
    align-items: center;
    .mat-icon {
        padding-right: 10px;
    }
}